input {
	padding: 0.75rem;
}

input[type='text'],
input[type='email'] {
	width: 45%;
	border: none;
	border-bottom: 2px $hl-color solid;
	background: transparent;
}

input[type='submit'] {
	width: 100%;
	font-size: 1.2rem;
	font-weight: 400;
	border: none;
}

input[name='message-submit'] {
	background: $hl-color;
	color: $main-color;
}

input[name='post-comment'] {
	color: $hl-color;
	background: $main-color;
}
textarea {
	padding: 1rem;
	margin: 5% 0;
	width: 100%;
	background: transparent;
	border: 2px $hl-color solid;
}

.nav-bar-link:hover a {
	border-bottom: 2px solid $hl-color;
}

.nav-bar-link:focus a {
	border-bottom: 2px solid $hl-color;
}
