.contact-header {
	background: url(../assets/contact-header.jpg) no-repeat;
	background-size: cover;
	height: 70vh;
}
.contact-h1,
.blog-h1 {
	color: $white;
}
.contact-main {
	margin-bottom: -5%;
}
.contact-flex-container {
	display: flex;
}

.contact-box {
	width: 30%;
	padding-top: 10%;
}
.social-links {
	width: 40%;
	display: flex;
	justify-content: space-between;
}
.social-icon {
	margin-right: 10%;
}

.fab {
	font-size: 1.5rem;
	color: $main-color;
}

.social-icon:hover i,
.social-link:focus i {
	color: $hl-color;
}
.contact-form {
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background: $main-color;
	padding: 7% 5% 5%;
	position: relative;
	bottom: 20vh;
	box-shadow: 25px 25px 0 $hl-color;
}

input[name='message-submit'],
button {
	background: $hl-color;
	color: $main-color;
	border: 2px solid $hl-color;
}

input[name='message-name'],
input[name='message-email'],
textarea[name='message'] {
	color: $white;
}

input[name='message-submit']:hover,
.read-more:hover,
input[name='message-submit']:focus,
.read-more:focus {
	border: 2px dashed $main-color;
	background-color: $white;
}
