.home-header {
	background: url(../assets/home-header.jpg) no-repeat;
	position: relative;
	background-size: cover;
	height: 90vh;
}
.home-h1 {
	color: $hl-color;
}
.home-header-flex-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.home-header-image-box {
	position: absolute;
	right: 0;
	bottom: -20%;
	width: 55%;
	max-width: 800px;
}

.highlights {
	padding: 15% 0 10%;
}

.highlight-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.highlight {
	width: 49%;
	display: flex;
	margin-bottom: 5%;
	align-content: space-between;
	justify-content: space-between;
}

.highlight-icon {
	flex: 1 0 15%;
	max-width: 30px;
	height: 30px;
	border: 25px $hl-color solid;
	border-radius: 50%;
	font-size: 1.8rem;
	color: $m-color;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.fas {
	margin: 0 auto;
}

.highlight-text-box {
	flex: 1 0 80%;
	padding: 2% 0 0 5%;
}

.news {
	background-color: $m-color;
	color: $white;
}
.news-flex-container {
	display: flex;
	justify-content: space-between;
}

.news-post {
	display: flex;
	position: relative;
	width: 45%;
}
.news-post-1 {
	flex-direction: column;
	text-align: right;
}

.news-post-2 {
	flex-direction: column-reverse;

	text-align: left;
}

.read-more {
	margin-top: 1rem;
	font-size: 1.2rem;
	padding: 0.5rem;
}

.news-text-1 {
	padding: 10% 0 10% 12.5%;
}
.news-text-2 {
	padding: 10% 12.5% 10% 0%;
}

.news-image-1 {
	position: relative;
	top: -10%;
	box-shadow: 20px 20px 0 $hl-color;
}

.news-image-2 {
	position: relative;
	bottom: -10%;
	box-shadow: -20px 20px 0 $hl-color;
}

.extra {
	padding: 15% 5% 10%;
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}
.banner {
	object-fit: cover;
	min-height: 200px;
}

.win-flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10% 0;
}

.win-image-box {
	width: 30%;
	min-width: 200px;
	max-width: 300px;
}
.win-image {
	box-shadow: -20px 20px 0 $hl-color;
}

.win-text-box {
	padding-left: 5%;
	width: 70%;
}

.gallery {
	background: $m-color;
	padding: 5% 0;
}
.gallery-flex-container {
	display: flex;
	justify-content: space-between;
}

.gallery-photo-container {
	max-width: 400px;
	width: 30%;
}
