.wrapper {
	max-width: 1280px;
	width: 90%;
	margin: 0 auto;
}

.blog-wrapper {
	margin: 0 auto;
	max-width: 1280px;
}
main {
	background: $bg-color;
}
ul {
	list-style: none;
	padding-left: 0;
}

nav {
	padding: 5% 0;
}

p {
	margin-top: 0;
}
.contact-header,
.blog-header {
	height: 70vh;
	background-size: cover;
	background-repeat: no-repeat;
}

.nav-bar {
	width: 30%;
	min-width: 300px;
	display: flex;
	justify-content: space-between;
}

.header-flex-container {
	display: flex;
	flex-direction: column;
}
.contact-h1,
.blog-h1 {
	justify-self: center;
}

footer {
	padding: 1%;
	text-align: center;
	background: $hl-color;
}
