.wrapper {
	max-width: 1280px;
	width: 85%;
	margin: 0 auto;
}

.blog-wrapper,
.news-wrapper {
	margin: 0 auto;
	max-width: 1440px;
}

img {
	width: 100%;
	display: block;
}
main {
	background: $bg-color;
}
ul {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
}

nav {
	padding: 5% 0;
}

p {
	margin-top: 0;
}

header {
	background-size: cover;
	background-repeat: no-repeat;
}
.home-header {
	height: 90vh;
}
.contact-header,
.blog-header {
	height: 70vh;
}

.nav-bar {
	width: 30%;
	min-width: 300px;
	display: flex;
	justify-content: space-between;
}

.header-flex-container {
	display: flex;
	flex-direction: column;
}

footer {
	padding: 10px 0;
	text-align: center;
	background: $hl-color;
}
