@media (max-width: 1280px) {
	.wrapper {
		width: 90%;
	}
	h1 {
		font-size: 4.2rem;
	}
	.home-header-image-box {
		width: 50%;
		bottom: -10%;
	}
	.news-image1 {
		top: -5%;
	}
	.news-image2 {
		bottom: -5%;
	}
}

@media (max-width: 1024px) {
	.home-header-image-box {
		display: none;
	}
	.home-header {
		height: initial;
	}
	.blog-header {
		height: initial;
	}

	.highlights {
		padding: 5% 0 0;
	}
}

@media (max-width: 960px) {
	.news-post {
		width: 48%;
	}
	.news-image1 {
		position: initial;
		box-shadow: 10px 10px 0 $hl-color;
	}
	.news-image2 {
		position: initial;
		box-shadow: -10px 10px 0 $hl-color;
	}
	.win-image {
		box-shadow: 10px 10px 0 $hl-color;
	}
}

@media (max-width: 768px) {
	h1 {
		text-align: center;
	}
	.wrapper {
		width: 92.5%;
	}
	.nav-bar {
		width: 100%;
		justify-content: space-around;
	}

	.blog-flex-container {
		flex-direction: column-reverse;
		align-items: center;
	}

	.mission {
		max-width: 95%;
		background: none;
		display: flex;
		justify-content: space-around;
	}
	.aside-image-box {
		display: none;
	}
	.aside-text-box {
		background: linear-gradient($mc-tp, $mc-tp),
			url(../assets/blog-side-image.jpg);
		flex: 1 0 50%;
		max-width: 48%;
		padding: 2.5%;
		margin-bottom: 0;
	}

	.blog-box {
		max-width: 95%;
	}
	.blog {
		border: none;
		display: flex;
		flex-direction: column-reverse;
	}
	.blog-image-box {
		position: initial;
		width: 80%;
		margin: 0 auto;
		padding: 5%;
		border-bottom: 4px solid $hl-color;
	}
	.blog-image {
		box-shadow: none;
	}

	.blog-text-box {
		padding: 10% 5% 0;
	}
	.blog-title,
	.blog-text1,
	.comments-title {
		text-align: center;
	}
	.comments,
	.post-comment {
		padding: 5%;
	}
	.contact-header {
		height: initial;
	}
	.contact-box {
		padding: 0;
		width: 36%;
	}
	.contact-form {
		background: none;
		box-shadow: none;
		position: initial;
		padding: 0;
		width: 60%;
	}
	.contact-main {
		margin-bottom: initial;
		padding: 5% 0;
	}
	.contact-flex-container {
		justify-content: space-between;
		align-items: center;
	}
	input[name='message-name'],
	input[name='message-email'],
	textarea[name='message'] {
		color: initial;
	}
}

@media (max-width: 652px) {
	h1 {
		font-size: 4rem;
	}
	.contact-h1 {
		font-size: 3.6rem;
	}
	.highlight-list {
		justify-content: center;
	}

	.win-flex-container {
		flex-direction: column;
		align-items: center;
	}

	.win-image-box {
		margin-bottom: 5%;
	}
	.win-text-box {
		width: 100%;
		text-align: center;
	}
	.highlight {
		width: 90%;
	}
}

@media (max-width: 542px) {
	html {
		letter-spacing: 0;
	}

	.mission {
		background: linear-gradient($mc-tp, $mc-tp),
			url(../assets/blog-side-image.jpg) no-repeat;
		background-size: cover;
		background-position: center;
		flex-direction: column;
		align-items: center;
		padding: 2.5%;
		width: 50%;
		min-width: 255px;
	}
	.aside-text-box {
		background: none;
		max-width: 100%;
		padding: none;
	}
}

@media (max-width: 480px) {
	label.bar-menu,
	input.bar-menu {
		display: block;
	}

	.header-flex-container {
		justify-content: space-between;
	}
	.contact-flex-container {
		flex-direction: column;
	}

	.nav-bar {
		display: none;
	}

	.home-h1,
	.contact-h1,
	.blog-h1 {
		font-size: 3rem;
	}
	.contact-form {
		width: 90%;
	}

	h2 {
		font-size: 1.8rem;
	}

	.news-flex-container {
		flex-wrap: wrap;
		justify-content: center;
	}
	.news-post {
		width: 100%;
	}
	.news-image {
		box-shadow: none;
	}
	.news-post2 {
		flex-direction: column;
	}
	.news-text {
		padding: 5% 10%;
	}
	.win-image-box {
		display: none;
	}
	.win-text-box {
		padding: 0;
	}
	.gallery-photo-container1 {
		display: none;
	}
	.gallery-photo-container {
		width: 48%;
	}
	input[name='comment-name'],
	input[name='comment-email'] {
		width: 100%;
		margin-top: 1rem;
	}
	input[name='message-name'],
	input[name='message-email'] {
		width: 100%;
		margin-top: 1rem;
	}
	.social-links {
		width: initial;
		margin-top: 10%;
	}
	.social-icon {
		margin: 0;
	}
	.contact-box {
		text-align: center;
		width: initial;
	}
}

@media (max-width: 440px) {
	.contact-h1,
	.home-h1,
	.blog-h1 {
		font-size: 2.8rem;
	}
	.highlight {
		text-align: center;
		flex-direction: column;
		align-items: center;
	}
	.highlight-text-box {
		padding: 5% 0 0;
	}
	.highlight-icon {
		flex: inherit;
	}
	.comments {
		padding: 5% 2%;
	}
	.comment {
		flex-direction: column;
	}
	.avatar-box {
		padding: 0 0 5% 5%;
	}
}
