html {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	line-height: 1.5rem;
}

h1,
h2,
h3,
h4,
input[type='submit'] {
	font-family: 'IM Fell English', serif;
	text-transform: uppercase;
}

h1 {
	font-size: 4rem;
}

.contact-h1,
.blog-h1 {
	color: $white;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
}
a {
	text-decoration: none;
}

.nav-bar-link a {
	color: $white;
	padding: 0.5rem;
	font-weight: 700;
}

.fab {
	font-size: 1.5rem;
	color: $main-color;
}
li.social-icon:hover .fab,
li.social-icon:focus .fab {
	color: $hl-color;
}

input[name='message-name'],
input[name='message-email'],
textarea[name='message'] {
	color: white;
}

footer {
	color: $main-color;
}
