// background color
$bg-color: #eafefc;
//highlight color
$hl-color: #fdd908;
//main color
$m-color: #0d457f;
//primary white
$white: #fff;
//background color with transparency
$bg-tp: rgba(234, 254, 252, 0.9);
//main color with transparency
$mc-tp: rgba(13, 69, 127, 0.9);
//text-shadow color
$t-shadow: rgba(0, 0, 0, 0.8);
