article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  line-height: 1.5rem;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
input[type='submit'],
button {
  font-family: 'IM Fell English', serif;
  text-transform: uppercase;
  line-height: 1.25em;
}

h1 {
  font-size: 4.5rem;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
}

h2 {
  font-size: 2rem;
  color: #0d457f;
  font-weight: 400;
  margin-top: 0;
}

h3 {
  font-size: 1.75rem;
  font-weight: 400;
}

.wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
}

.blog-wrapper,
.news-wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

.header-flex-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav {
  padding: 5% 0;
}

.nav-bar {
  width: 30%;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

main {
  background: #eafefc;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

label.bar-menu,
input.bar-menu,
.bar-menu-links {
  z-index: 15;
  display: none;
}

label.bar-menu {
  padding: 5px;
  border: 1px solid #0d457f;
  background: #0d457f;
  opacity: 0.9;
  font-size: 25px;
  color: #fff;
  position: fixed;
  top: 10px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
}

input.bar-menu {
  opacity: 0;
}

label.bar-menu:hover,
label.bar-menu:focus,
input.bar-menu:focus ~ label {
  cursor: pointer;
  color: #fdd908;
  border: 2px dashed #fdd908;
}

input.bar-menu:checked ~ .bar-menu-links {
  display: block;
}

.bar-menu-links {
  text-align: center;
  position: fixed;
  top: 4rem;
  background: rgba(234, 254, 252, 0.9);
  border: 1px solid rgba(13, 69, 127, 0.9);
  z-index: 15;
}

.bar-menu-links .bar-menu-link {
  padding: 0.5rem;
}

.bar-menu-links .bar-menu-link a {
  color: #0d457f;
  text-transform: uppercase;
}

input {
  padding: 0.5rem;
}

textarea {
  padding: 1rem;
  margin: 5% 0;
  width: 100%;
  background: transparent;
  border: 2px #fdd908 solid;
}

input[type='text'],
input[type='email'] {
  width: 45%;
  border: none;
  border: 2px transparent solid;
  border-bottom: 2px #fdd908 solid;
  background: transparent;
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
  border: 2px dashed #fdd908;
}

input[type='submit'] {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  border: none;
}

.nav-bar-link a {
  color: #fff;
  text-shadow: 2px 1px rgba(0, 0, 0, 0.8);
  padding: 0.5rem;
  font-weight: 700;
}

.nav-bar-link:hover a,
.bar-menu-link:hover a {
  border-bottom: 2px solid #fdd908;
}

.nav-bar-link a:focus,
.bar-menu-link a:focus {
  border-bottom: 2px solid #fdd908;
}

footer {
  padding: 10px 0;
  text-align: center;
  background: #fdd908;
  color: #0d457f;
}

.home-header {
  background: url(../assets/home-header.jpg) no-repeat;
  position: relative;
  background-size: cover;
  height: 90vh;
}

.home-h1 {
  color: #fdd908;
}

.home-header-flex-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-header-image-box {
  position: absolute;
  right: 0;
  bottom: -20%;
  width: 55%;
  max-width: 800px;
}

.highlights {
  padding: 15% 0 10%;
}

.highlight-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.highlight {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5%;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.highlight-icon {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 15%;
          flex: 1 0 15%;
  max-width: 30px;
  height: 30px;
  border: 25px #fdd908 solid;
  border-radius: 50%;
  font-size: 1.8rem;
  color: #0d457f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.fas {
  margin: 0 auto;
}

.highlight-text-box {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 80%;
          flex: 1 0 80%;
  padding: 2% 0 0 5%;
}

.news {
  background-color: #0d457f;
  color: #fff;
}

.news-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 45%;
}

.news-post-1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.news-post-2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  text-align: left;
}

.read-more {
  margin-top: 1rem;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.news-text-1 {
  padding: 10% 0 10% 12.5%;
}

.news-text-2 {
  padding: 10% 12.5% 10% 0%;
}

.news-image-1 {
  position: relative;
  top: -10%;
  -webkit-box-shadow: 20px 20px 0 #fdd908;
          box-shadow: 20px 20px 0 #fdd908;
}

.news-image-2 {
  position: relative;
  bottom: -10%;
  -webkit-box-shadow: -20px 20px 0 #fdd908;
          box-shadow: -20px 20px 0 #fdd908;
}

.extra {
  padding: 15% 5% 10%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.banner {
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 200px;
}

.win-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10% 0;
}

.win-image-box {
  width: 30%;
  min-width: 200px;
  max-width: 300px;
}

.win-image {
  -webkit-box-shadow: -20px 20px 0 #fdd908;
          box-shadow: -20px 20px 0 #fdd908;
}

.win-text-box {
  padding-left: 5%;
  width: 70%;
}

.gallery {
  background: #0d457f;
  padding: 5% 0;
}

.gallery-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery-photo-container {
  max-width: 400px;
  width: 30%;
}

.contact-header {
  background: url(../assets/contact-header.jpg) no-repeat;
  background-size: cover;
  height: 70vh;
  min-height: 500px;
}

.contact-h1,
.blog-h1 {
  color: #fff;
}

.contact-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.contact-box {
  width: 30%;
  padding-top: 10%;
}

.social-links {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-icon {
  margin-right: 10%;
}

.fab {
  font-size: 1.8rem;
  color: #0d457f;
}

.social-icon:hover i,
.social-link:focus i {
  color: #fdd908;
}

.contact-form {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #0d457f;
  padding: 7% 5% 5%;
  position: relative;
  bottom: 20vh;
  -webkit-box-shadow: 25px 25px 0 #fdd908;
          box-shadow: 25px 25px 0 #fdd908;
}

input[name='message-submit'],
button {
  background: #fdd908;
  color: #0d457f;
  border: 2px solid #fdd908;
}

input[name='message-name'],
input[name='message-email'],
textarea[name='message'] {
  color: #fff;
}

input[name='message-submit']:hover,
.read-more:hover,
input[name='message-submit']:focus,
.read-more:focus {
  border: 2px dashed #0d457f;
  background-color: #fff;
}

.blog-header {
  background: url(../assets/blog-header.jpg) no-repeat;
  background-size: cover;
  height: 70vh;
}

.blog-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mission {
  background-color: #0d457f;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  max-width: 25%;
  margin: 5%;
  padding: 0 2.5%;
  color: white;
}

.aside-text-box {
  margin-bottom: 20%;
}

.aside-heading {
  color: #fdd908;
}

.aside-image-box {
  position: relative;
  width: 140%;
  right: 40%;
  top: -2vh;
}

.aside-image {
  width: 100%;
}

.recent-posts {
  list-style: disc inside;
}

.blog-box {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
  max-width: 60%;
}

.blog-title {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.blog {
  border-left: 4px solid #fdd908;
  border-bottom: 4px solid #fdd908;
}

.blog-text-box {
  margin-top: -5%;
  padding: 0 10% 10% 10%;
}

.blog-image-box {
  position: relative;
  left: 20px;
  top: -20vh;
  width: calc(100% - 20px);
  max-width: 830px;
}

.blog-image {
  width: 100%;
  -webkit-box-shadow: -22px 32px 0 #fdd908;
          box-shadow: -22px 32px 0 #fdd908;
}

.comments {
  padding: 5% 10% 0 10%;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.avatar-box {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 15%;
          flex: 1 0 15%;
  max-width: 90px;
}

.comment-text-box {
  padding-left: 5%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 85%;
          flex: 1 0 85%;
}

.comment-title {
  font-weight: 700;
  color: #0d457f;
}

.post-comment {
  padding: 5% 10% 10% 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input[name='post-comment'] {
  color: #fdd908;
  background: #0d457f;
  border: 2px solid #0d457f;
}

input[name='post-comment']:hover,
input[name='post-comment']:focus {
  background-color: #fff;
  color: #0d457f;
  border: 2px dashed;
}

@media (max-width: 1280px) {
  .wrapper {
    width: 90%;
  }
  h1 {
    font-size: 4.2rem;
  }
  .home-header-image-box {
    width: 50%;
    bottom: -10%;
  }
  .news-image-1 {
    top: -5%;
  }
  .news-image-2 {
    bottom: -5%;
  }
}

@media (max-width: 1024px) {
  .home-header {
    height: initial;
  }
  .home-header-image-box {
    display: none;
  }
  .highlights {
    padding: 5% 0 0;
  }
  .blog-header {
    height: initial;
  }
}

@media (max-width: 960px) {
  .news-post {
    width: 48%;
  }
  .news-image-1 {
    position: initial;
    -webkit-box-shadow: 10px 10px 0 #fdd908;
            box-shadow: 10px 10px 0 #fdd908;
  }
  .news-image-2 {
    position: initial;
    -webkit-box-shadow: -10px 10px 0 #fdd908;
            box-shadow: -10px 10px 0 #fdd908;
  }
  .win-image {
    -webkit-box-shadow: 10px 10px 0 #fdd908;
            box-shadow: 10px 10px 0 #fdd908;
  }
}

@media (max-width: 768px) {
  h1 {
    text-align: center;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.55rem;
  }
  .wrapper {
    width: 95%;
  }
  .nav-bar {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .blog-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mission {
    max-width: 95%;
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .aside-image-box {
    display: none;
  }
  .aside-text-box {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 69, 127, 0.9)), to(rgba(13, 69, 127, 0.9))), url(../assets/blog-side-image.jpg);
    background: linear-gradient(rgba(13, 69, 127, 0.9), rgba(13, 69, 127, 0.9)), url(../assets/blog-side-image.jpg);
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    max-width: 48%;
    padding: 2.5%;
    margin-bottom: 0;
  }
  .blog-box {
    max-width: 95%;
  }
  .blog {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .blog-image-box {
    position: initial;
    width: 95%;
    margin: 0 auto;
    padding: 5%;
    border-bottom: 4px solid #fdd908;
  }
  .blog-image {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .blog-text-box {
    padding: 10% 5% 0;
  }
  .blog-title,
  .blog-text1,
  .comments-title {
    text-align: center;
  }
  .comments,
  .post-comment {
    padding: 5%;
  }
  .contact-header {
    height: 35vh;
    min-height: 300px;
  }
  .contact-main {
    margin-bottom: 0;
    padding: 5% 0;
  }
  .contact-flex-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-box {
    padding: 0;
    width: 36%;
  }
  .contact-form {
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: initial;
    padding: 0;
    width: 60%;
  }
  input[name='message-name'],
  input[name='message-email'],
  textarea[name='message'] {
    color: initial;
  }
  input[name='message-name'],
  input[name='message-email'] {
    width: 100%;
    margin-top: 1rem;
  }
}

@media (max-width: 684px) {
  h1 {
    font-size: 3.6rem;
  }
  .highlight-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .highlight {
    width: 90%;
  }
  .win-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .win-image-box {
    margin-bottom: 5%;
  }
  .win-text-box {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 542px) {
  html {
    letter-spacing: 0;
  }
  .mission {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 69, 127, 0.9)), to(rgba(13, 69, 127, 0.9))), url(../assets/blog-side-image.jpg) no-repeat;
    background: linear-gradient(rgba(13, 69, 127, 0.9), rgba(13, 69, 127, 0.9)), url(../assets/blog-side-image.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.5%;
    width: 50%;
    min-width: 255px;
  }
  .aside-text-box {
    background: none;
    max-width: 100%;
    padding: none;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  label.bar-menu,
  input.bar-menu {
    display: block;
  }
  .nav-bar {
    display: none;
  }
  .header-flex-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .news-flex-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .news-post {
    width: 100%;
  }
  .news-image {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .news-post-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news-text {
    padding: 5% 10%;
  }
  .win-image-box {
    display: none;
  }
  .win-text-box {
    padding: 0;
  }
  .gallery-photo-container-1 {
    display: none;
  }
  .gallery-photo-container {
    width: 48%;
  }
  input[name='comment-name'],
  input[name='comment-email'] {
    width: 100%;
    margin-top: 1rem;
  }
  .contact-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-box {
    text-align: center;
    width: initial;
  }
  .social-links {
    width: initial;
    margin-top: 10%;
  }
  .social-icon {
    margin: 0;
  }
  .contact-form {
    width: 90%;
  }
}

@media (max-width: 440px) {
  h1 {
    font-size: 2.4rem;
  }
  .highlight {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .highlight-text-box {
    padding: 5% 0 0;
  }
  .highlight-icon {
    -webkit-box-flex: inherit;
        -ms-flex: inherit;
            flex: inherit;
  }
  .comments {
    padding: 5% 2%;
  }
  .comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .avatar-box {
    padding: 0 0 5% 5%;
  }
}
